<!DOCTYPE html>
<html ng-app="app">
<head>
	<title></title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>
	<script src="controllers/btnController.js"></script>
	<link rel="stylesheet" href="main.css">
</head>
<body ng-controller="btnController">
	<div class="popup" ng-show="popup">
		<div class="popup-text">This is a popup.</div>
		<div class="popup-cancel" ng-click="popup = false">Cancel</div>
	</div>
	<div class="button" ng-click="popup = true">
		<div class="button-text">Cliquez-ici</div>
		
	</div>

</body>
</html>