body {
  text-align: center;
  margin: auto;
  line-height: 100vh;
}
.highlight {
  background-color: #ffc0cb;
}
.jumbo {
  margin: auto;
  position: relative;
  background-color: #e67e22;
  height: 300px;
  width: 500px;
  border-bottom: 5px solid #d35400;
}
.jumbo-header {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: #27ae60;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}
.article {
  width: 500px;
  margin: auto;
}
.article-img {
  float: left;
  height: 380px;
  width: 254px;
  padding-right: 5px;
}
.popup {
  line-height: 100px;
  position: fixed;
  height: 100px;
  width: 200px;
  background-color: #c0392b;
}
.popup-cancel {
  color: #fff;
  line-height: initial;
  background-color: #3498db;
  vertical-align: none;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
}
.button {
  vertical-align: middle;
  display: inline-block;
  height: 300px;
  width: 500px;
  background-color: #27ae60;
  line-height: 300px;
}
.button-text {
  display: inline-block;
  vertical-align: center;
}
